#hero {
    height: min-content;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-size: 2rem;
}

#hero > div, #hero h1 {
    z-index: 1;
    margin: 0;
}

.hero-bg {
    transform-style: preserve-3d;
    perspective: 30em;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.hero-bg--lowerhalf {
    width: 100%;
    height: 50vh;
    
    position: absolute;
    top: 50vh;
    color: #F0FAF7;
}

.hero-bg--lowerhalf.bluehalf {
    background: #0D4D96;
    left: 25vw;
}

.hero-bg--upperhalf {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
}

.flexydown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}