.hlast-string-literal {
    color: #DD99BB;
}
.hlast-decimal-literal {
    color: #7DC266;
}
.hlast-term {
    font-style: italic;
}
.hlast-type-type {
    color: #9898DD;
}

.hlast-keyword {
    color: #e6b4a5;
    font-weight: 700;
}

.hlast-line-comment, .hlast-comment {
    font-style: italic;
    color: #c5c5e7;
}

.md-codeblock {
    display: block;
    border: 1px solid #0F0D1C;
    background: #1F1A38;
    color: #FAFDFF;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    margin: 1em auto;
}