<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="//brick.freetls.fastly.net/Fira+Sans:300,400,700,300i">

    <title>Autoauto</title>
    <meta property="og:title" content="Autoauto">


    <link rel="stylesheet" href="{{#asset homepage style.css /}}">
    <link rel="stylesheet" href="{{#asset style.css /}}">
</head>

<body>
    <header></header>
    <div id="hero">
        <div class="hero-bg" aria-hidden="true">
            <div class="hero-bg--lowerhalf bluehalf"></div>
        </div>
        <div class="hero-bg--upperhalf flexydown">
            <h1>Autoauto</h1>
        </div>
        <div class="hero-bg--lowerhalf">
            <p>Making it way easier to code for FTC</p>
            <div class="dl-buttons">
                <a href="/syntax">Learn</a>
                <a href="https://github.com/nhs-t10/AutoautoLanguagePlugin/releases">Get Plugin</a>
            </div>
        </div>
        {{#import scrollmerge /}}
    </div>
    <main>
        <section>
            <h2>A Language for Autonomous</h2>
            <p>State-based auto just <em>works</em>. Any state machine can be represented in Autoauto with
                zero-boilerplate code.</p>
            {{#import aa-graphvis /}}
        </section>
        <section>
            <h2>Easy to Learn</h2>
            <p>If you've used Javascript, Python, Lua, or Java, then you can easily learn Autoauto. With only 8 base
                statements, Autoauto is a powerful language in a small package.</p>
        </section>
        <section>
            <h2>Quick Write, Quick Compile</h2>
            <p>Autoauto's loose typing lets you ignore classes and get right to writing code.</p>
        </section>
        <section>
            <h2>Works with you</h2>
            <p>No matter <em>what</em> your system is, Autoauto will work with it. Your own library class? A distributed
                system of classes, split up by feature? Just the basic FTC SDK? Sure!</p>
            <p>Integrated compiler code generation, combined with runtime JDK integration, lets you do anything from Java.</p>
        </section>
        <section>
            <h2>(actually) Zero-Cost Abstraction</h2>
            <p>Compile-time optimizations let you build more, without worrying about how latency affects your code.</p>
        </section>
        <section>
            <h2></h2>
        </section>
        <section id="recent-content">
            <h2>Want to jump right in?</h2>
            <ul>
                {{#each page}}
                <li>
                    <a href="{{link}}" class="blocklink">
                        <ul class="tags">
                            {{#each tags}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                        <h3>
                            {{title}}
                        </h3>
                        <p>{{description}}</p>
                    </a>
                </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{#import footer /}}
</body>

</html>